.bg-container {
  background-color: #07080c;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 60px;
}

.image {
  height: 250px;
  width: 600px;
}

.heading {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Roboto';
  font-style: italic;
}

.speed {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 400;
}

.limit {
  color: #94a3b8;
  font-size: 12px;
  font-family: 'Roboto';
}

.accelerate-button {
  height: 30px;
  width: 80px;
  color: #cbd5e1;
  background-color: #0b69ff;
  border: 0px;
  cursor: pointer;
  outline: none;
  font-size: 11px;
  font-family: 'Roboto';
  border-radius: 8px;
  margin: 15px;
}

.brake-button {
  height: 30px;
  width: 80px;
  color: #94a3b8;
  background-color: #07080c;
  border: 1px solid #94a3b8;
  cursor: pointer;
  outline: none;
  font-size: 11px;
  font-family: 'Roboto';
  border-radius: 8px;
  margin: 15px;
}
